<ion-header [translucent]="true">
  <ion-toolbar>
    <h2><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Users</b></h2>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="bubbles">

  </div>
  <ion-list *ngFor="let user of users; let i = index" lines="none">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="user.avatar || defaultImage">
      </ion-avatar>
      <ion-label> <ion-text color="warning" >
        <h2>{{user.first_name}} {{user.last_name}}</h2> </ion-text>
        <p>{{user.email}}</p>
      </ion-label>
      <ion-avatar slot="end">

      </ion-avatar>
    </ion-item>
    <ion-button color="success" expand="block" size="small"(click)="Update(i)"> Edit
     <ion-icon name="create"></ion-icon> </ion-button>
  <ion-button color="danger" expand="block" size="small" (click)="Delete(i)"> Delete

    <ion-icon name="trash"></ion-icon>
  </ion-button>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  color="warning" (click) ="Add()">
    <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
    </ion-fab>


  <div class="bubble"></div>
  <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>

</ion-content>
